.navbar{
    position: relative;
    height: 5vh;
}
.navbar a{
    position: relative;
    float: right;
}
.navbar hr{
    margin-top: 1.75vh;
    border: 1px solid black;
    border-radius: 5px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7.5vh;
}
.footer hr{
    border: 1px solid black;
}