<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% if not title %}
    <title>Kitchen Recipes</title>
    {% else %}
    <title>Kitchen Recipes - {{ title }}</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}
    <button onclick="location.href='{% url "logout" %}'">Logout</button>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>