{% extends "base.html" %}
{% block content %}
    {{ recipe.name }}
    <br>
    {{ recipe.create_date }}
    <br>
    {{ recipe.modify_date }}
    <br>
    {{ recipe.author }}
    <br>
    {% for ingridient in element.ingredients %}
        {{ ingridient }}
        <br>
    {% endfor %}
    <br>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add comment">
    <br>
    {% for comment in comments %}
        {{ comment.content }}
        {{ comment.create_date }}
        {{ comment.author }}
        {{ comment.up_vote }}
        {{ comment.down_vote }}
        <br>
    {% endfor %}
{% endblock %}